<div id="{{ identifier }}" data-complexity-level="{{ code_snippet.complexity.complexity_level }}"
     class="editor-wrapper complexity-level-{{ code_snippet.complexity.complexity_level }}">
    <i title="Copy Editor Content" class="js-copy-editor copy-editor fa fa-copy"></i>
    <h2>Editor #{{ number }}</h2>
    <div class="editor">{{ code_snippet.code }}</div>
    <div class="metrics">
        <div class="complexity-badge">
            <div class="js-cyclomatic-complexity metric complexity-level-{{ code_snippet.complexity.cyclomatic_complexity.level }}"
                 data-complexity-level="{{ code_snippet.complexity.cyclomatic_complexity.level }}">
                {{ code_snippet.complexity.cyclomatic_complexity.value }}
            </div>
            <div class="label">
                <span>Cyclomatic</span><br />Complexity
            </div>
        </div>
        <button title="Recalculate Complexities" class="js-recalculate-complexities">
            <i class="fas fa-sync-alt"></i>
        </button>
        <div class="complexity-badge">
            <div class="js-cognitive-complexity metric complexity-level-{{ code_snippet.complexity.cognitive_complexity.level }}"
                 data-complexity-level="{{ code_snippet.complexity.cognitive_complexity.level }}">
                {{ code_snippet.complexity.cognitive_complexity.value }}
            </div>
            <div class="label">
                <span>Cognitive</span><br />Complexity
            </div>
        </div>
    </div>
</div>
