{% set default_complexity = 'X' %}
{% set default_level = 'none' %}
{% set default_code = '<?php\n\n// paste your code snippet to calculate complexity\n' %}

<div id="{{ identifier }}" data-complexity-level="{{ snippet.complexityLevel|default(default_level) }}"
     class="editor-wrapper complexity-level-{{ snippet.complexityLevel|default(default_level) }}">
    <i title="Copy Editor Content" class="js-copy-editor copy-editor fa fa-copy"></i>
    <h2>Editor #{{ number }}</h2>
    <textarea class="editor">{{ snippet.code|default(default_code) }}</textarea>
    <div class="code-comment">Press the <i class="fa-solid fa-sync-alt"></i> button to calculate complexities!</div>
    <div class="code-error">
        <i class="fa-solid fa-exclamation-triangle"></i>
        <span>Looks like your code has a syntax error!</span>
    </div>
    <div class="metrics">
        <div class="complexity-badge">
            <div class="js-cyclomatic-complexity metric complexity-level-{{ snippet.cyclomaticComplexityLevel|default(default_level) }}"
                 data-complexity-level="{{ snippet.cyclomaticComplexityLevel|default(default_level) }}">
                <span>{{ snippet.cyclomaticComplexity|default(default_complexity) }}</span>
            </div>
            <div class="label">
                <span>Cyclomatic</span><br />Complexity
            </div>
        </div>
        <div class="actions">
            <button title="Calculate Complexities" class="js-calculate-complexities">
                <i class="fa-solid fa-sync-alt"></i> Calculate Complexities
            </button>
            <button title="Simplify with OpenAI" class="js-simplify-code">
                <i class="fa-solid fa-arrow-trend-down"></i> Simplify with OpenAI
            </button>
        </div>
        <div class="complexity-badge">
            <div class="js-cognitive-complexity metric complexity-level-{{ snippet.cognitiveComplexityLevel|default(default_level) }}"
                 data-complexity-level="{{ snippet.cognitiveComplexityLevel|default(default_level) }}">
                <span>{{ snippet.cognitiveComplexity|default(default_complexity) }}</span>
            </div>
            <div class="label">
                <span>Cognitive</span><br />Complexity
            </div>
        </div>
    </div>
</div>
