<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>deComplex.it - enhance your PHP code</title>
        <meta property="og:image" content="{{ asset('screenshot.png') }}" />
        <link href="https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap" rel="stylesheet">
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
        <a href="https://github.com/chr-hertel/complexity-diff" class="github-ribbon" target="_blank">
            <img width="149" height="149" src="https://github.blog/wp-content/uploads/2008/12/forkme_right_darkblue_121621.png?resize=149%2C149"
                 alt="Fork me on GitHub" data-recalc-dims="1">
        </a>
        <header>
            <div class="container">
                <div>
                    <h1>deComplex.it</h1><span>diff and reduce the complexity of your PHP code</span>
                </div>
                <a href="/"><i class="fa fa-times-circle"></i> Reset Editors</a>
            </div>
        </header>
        <div class="editor-container">
            <div class="grid lg:grid-cols-2 md:grid-cols-1 gap-4">
                {{ include('_editor.html.twig', {number: 1, identifier: 'js-editor-left', code_snippet: left}) }}
                {{ include('_editor.html.twig', {number: 2, identifier: 'js-editor-right', code_snippet: right}) }}
            </div>
            <div class="container">
                <div>
                    <button class="js-permalink-create permalink-create">Share Complexity Diff</button>
                    <input type="text" readonly="readonly" class="js-permalink-input" placeholder="Click share button to generate permalink to this complexity diff ..." />
                    <button class="js-permalink-copy permalink-copy"><i class="fa fa-copy"></i></button>
                </div>
                <span>
                    Please be aware that your code snippets get stored on server-side while using this feature.
                </span>
            </div>
        </div>
        <div class="notes container">
            <h3>Complexity Levels</h3>
            <div class="complexity-bar">
                <div class="complexity-bar-inner">
                    <div>
                        <span>Low</span><br />1 &dash; 4
                    </div>
                    <div>
                        <span>Moderate</span><br />5 &dash; 7
                    </div>
                    <div>
                        <span>High</span><br />8 &dash; 10
                    </div>
                    <div>
                        <span>Very High</span><br />> 10
                    </div>
                </div>
            </div>
            <h3 class="pt-6">Cyclomatic Complexity</h3>
            <p class="my-4">
                Cyclomatic complexity is computed using the control flow graph of the program: the nodes of the graph
                correspond to indivisible groups of commands of a program, and a directed edge connects two nodes if
                the second command might be executed immediately after the first command. Cyclomatic complexity may
                also be applied to individual functions, modules, methods or classes within a program.
                <a class="underline" href="https://en.wikipedia.org/wiki/Cyclomatic_complexity" target="_blank">See Wikipedia for more information.</a>
            </p>
            <p>
                To measure or enforce cyclomatic complexity limits in your application see
                <a class="underline" href="https://github.com/sebastianbergmann/phploc" target="_blank">PHPLOC</a> or
                <a class="underline" href="https://phpmd.org/" target="_blank">PHP Mess Detector</a>.
            </p>
            <h3 class="pt-8">Cognitive Complexity</h3>
            <p class="my-4">
                Cognitive Complexity is a measure of how difficult a unit of code is to intuitively understand. Unlike
                Cyclomatic Complexity it was formulated with the primary goal of calculating method scores that more
                accurately reflect methods’ relative understandability, and with secondary goals of addressing modern
                language constructs and producing metrics that are valuable above the method level.
                <a class="underline" href="https://www.sonarsource.com/docs/CognitiveComplexity.pdf" target="_blank">See SonarSource's Whitepaper for more information.</a>
            </p>
            <p>
                To enforce cognitive complexity limits in your application with <a href="https://phpstan.org/" target="_blank">PHPStan</a> see
                <a class="underline" href="https://www.tomasvotruba.com/blog/2018/05/21/is-your-code-readable-by-humans-cognitive-complexity-tells-you/" target="_blank">Tomas Votruba's blog post</a>.
            </p>
        </div>
        <footer class="container">
            <p>
                Powered by
                <a href="https://github.com/NielsdeBlaauw/php-doc-check/" target="_blank">PHP Doc Check</a>,
                <a href="https://codemirror.net/" target="_blank">Code Mirror</a>,
                <a href="https://symfony.com/" target="_blank">Symfony</a> with <a href="https://twig.symfony.com/" target="_blank">Twig</a>,
                <a href="https://tailwindcss.com/" target="_blank">Tailwind CSS</a>,
                <a href="https://sass-lang.com/" target="_blank">Sass</a>,
                <a href="https://jquery.com/" target="_blank">jQuery</a>,
                <a href="https://fontawesome.com/" target="_blank">Font Awesome</a>,
                <a href="https://webpack.js.org/" target="_blank">Webpack</a> with <a href="https://github.com/symfony/webpack-encore" target="_blank">Encore</a>,
                <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a> and many more.<br />
                Check out the sources at <a class="underline" href="https://github.com/chr-hertel/complexity-diff" target="_blank">Github</a>.
            </p>
            Made with ♥ in Berlin by <a class="underline" href="//twitter.com/el_stoffel" target="_blank">@el_stoffel</a>
        </footer>
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
